// Main Styles

// See the other SASS partials for typography, variables etc.
// CSS Grid is used for the layout with fallbacks for less capable browsers
// declared beforehand, and a @supports feature query to reset fallbacks when
// necessary. https://rachelandrew.co.uk/css/cheatsheets/grid-fallbacks

// the body element is our primary layout grid
body {
  height: 100%;
  min-height: 100vh;
  display: grid;
  background: linear-gradient(to bottom, white, $color-background);
  grid-template-rows: auto 1fr auto;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr)
    [main-start] minmax(0, 52rem) [main-end]
    minmax(1rem, 1fr) [full-end];
}

// by default, make any new children of body to span the full track
body > * {
  grid-column: full;
  padding: 0;
}

// header, the first grid row
// it is also a grid for the logo and nav
header {
  grid-column: full;
  display: grid;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  @media screen and (min-width: $screen-sm-min) {
    grid-template-columns: 1fr auto;
    grid-column-gap: 1rem;
  }
}
header > * {
  z-index: 1000;
}
header nav a {
  display: inline-block;
}
// logo, is a grid item
header > h1 {
  display: inline-block;
  padding-bottom: 1rem;
  @media screen and (min-width: $screen-sm-min) {
    padding-bottom: 0;
  }
  a,
  a:visited {
    text-decoration: none;
    border: 0;
    color: white;
    @media screen and (min-width: $screen-sm-min) {
      padding: 1rem;
    }
  }
  a:hover {
    color: white;
  }
}

// main menu, is a grid item
header > nav {
  vertical-align: middle;
  @media screen and (min-width: $screen-sm-min) {
    float: right;
  }
  ul {
    // flexbox is better than grid for distributing an unknown qty of children
    display: flex;
    background-image: linear-gradient(to right, $color-secondary-2-0, $color-complement-0);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    li {
      margin-right: 2rem;
      display: inline-block;
      @media screen and (min-width: $screen-sm-min) {
        margin-right: 0;
      }
      a,
      a:visited {
        color: transparent;
        // color: white;
        // text-decoration: none;
        // border: 0;
        @media screen and (min-width: $screen-sm-min) {
          padding: 1rem;
        }
        &[data-current="current page"] {
          color: white;
          // you can add an active nav item style here
        }
      }
      a:hover {
        color: white;
      }
    }
  }
}

footer {
  grid-column: full;
  padding: 6rem 0 6rem 0;
  background-color: $grey-bg-color;
  > small {
    grid-column: main;
  }
  > a {
    display:inline-block;
    padding: 2rem;
  }
  ul {
    background-image: linear-gradient(to bottom, $color-primary-0, $color-secondary-1-0);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    li {
      padding: 0.5rem;
      margin-right: 2rem;
      @media screen and (min-width: $screen-sm-min) {
        margin-right: 0;
      }
      a,
      a:visited {
        color: transparent;
        // color: white;
        // text-decoration: none;
        // border: 0;
        @media screen and (min-width: $screen-sm-min) {
          padding: 1rem;
        }
        &[data-current="current page"] {
          color: white;
          // you can add an active nav item style here
        }
      }
      a:hover {
        color: white;
      }
    }
  }
}
header,footer {
  background-color: $color-background-negative;
  color: $color-base-text-negative;
}


// our main content wrapper, the width scales with font size
main {
  padding-top:6rem;
  min-height: 60vh; // TODO use grid
  width: 100%;
  @media screen and (min-width: $screen-md-min) {
    align-content: start;
  }
}
main > section.container {
  width: 100%;
  max-width: 120rem;
  margin-right: auto;
  margin-left: auto;
  padding: 10rem;
}

.container img {
  padding: 10%;
  margin: auto;
}

main > section.across {
  width: 100%;
}
main > section.fillbox {
  margin: 2.5rem;
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: $screen-md-min) {
    grid-auto-flow:row;
    grid-template-rows: auto 1fr;
  }
  @media screen and (min-width: $screen-md-min) {
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
  }
  box-shadow: -1rem 1rem 3rem #000000e0;
  box-shadow: inset 0 0 black;
}
main > section.fillbox.flip {
  @media screen and (max-width: $screen-md-min) {
    grid-template-rows: 1fr auto;
  }
  @media screen and (min-width: $screen-md-min) {
    grid-template-columns: 1fr auto;
  }
}
main > section.fillbox > div {
  place-self: stretch center;
}
main > section.fillbox > .card {
  padding: 4rem;
  justify-self: stretch;
}
.card h2 {
  font-size: 3.6rem;
}
main > section.fillbox > div {
  margin: 4rem;
}
.gradient-0-lr{
  background-image: linear-gradient(105deg,  fade-out($color-complement-0, 0.4), fade-out($color-secondary-2-0,0.4));
}
.gradient-1-rl{
  background-image: linear-gradient(285deg, fade-out($color-primary-0,0.4), fade-out($color-secondary-1-0,0.4));
}

// reset breaking fallbacks (e.g. widths) if CSS Grid is supported
// float, inline-block, table properties are already ignored by CSS Grid
@supports (display: grid) {
  main {
    width: auto;
    max-width: none;
  }
}

// blog posts list
html[data-current="blog"] main > section {
  ul li {
    padding: 2rem 0;
    border-bottom: 0.05em solid $hairline-color;
    p {
      padding-bottom: 0;
    }
  }
}

// adjacent blog posts links
nav[aria-label="Adjacent Posts"] {
  padding: 4rem 0;
  ul {
    display: flex;
    li {
      flex: 0 0 50%;
      width: auto;
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}

// contact form
html[data-current="contact"] main > form {
  display: grid;
  label {
    display: none;
  }
  input,
  textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  button {
    width: 100%;
  }
}

// reset CSS Grid fallbacks when they aren't required
@supports (display: grid) {
  html[data-current="contact"] main > form {
    input,
    textarea,
    button {
      width: auto;
      max-width: none;
    }
  }
}
.hero {
  text-align: center;
  width: 100%;
  background-color: $color-background-negative;
  color: $color-base-text-negative;
  padding: 12rem 0 10rem 0;
  min-height: 40rem;
  position: relative;
  overflow: hidden;
}
.center {
  text-align: center;
  width: 100%;
}

.tile {
  display: inline-block;
  min-width: 10rem;
  min-height: 10rem;
  width: 30vw;
  height: 30vw;
  max-width: 50rem;
  max-height: 50rem;
  border-radius: 10%;
  background-size: cover;
  background-position: center;
}
.tile-shadow-0 {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background: fade-out($color-secondary-2-0,0.7);
}
.tile-shadow-1 {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background: fade-out($color-secondary-1-0,0.7);
}

.logogroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logogroup > img {
  display: inline-block;
  
  max-width: 23rem;
  padding: 5rem;
}
.tagline {
  display: inline-block;
  max-width: 60rem;
  padding: 5rem;
}
.b-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.b-item {
  display: inline-block;
  min-width: 10rem;
  max-width: 25rem;
  text-align: center;
  font-size: 1.5rem;
  margin: 3rem 3rem auto 3rem;
}
.b-item .fa-stack {
  margin: 10%;
}
.sliding-gallery-wrapper {
    overflow: hidden;
    width: 100%;
    color: $color-base-text-negative;
    text-align: center;
    position: relative;
}
.sliding-gallery-overlay {
  position: absolute;
  width: 100%;
  height: 36rem;
  display: inline-block;
  vertical-align: middle;
  padding: 6rem;
  z-index: 1;
  top: 0;
  left: 0;
}
.sliding-gallery-overlay > h1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.sliding-gallery-overlay > a {
  @include button($color-secondary-2-0, $color-base-text);
}
.sliding-gallery-shadow {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, fade-out($color-background-negative,0.1), fade-out($color-background-negative, 0.6));
}
.sliding-gallery {
  background: url('/assets/img/uploads/home-sliding-gallery.png');
  height: 72rem;
  @media screen and (min-width: $screen-xs-min) {
    height: 54rem;
  }
  @media screen and (min-width: $screen-sm-min) {
    height: 45rem;
  }
  min-width: 128rem;
  width: 200vw;
  animation: slide 20s linear infinite;
  background-size: 80rem 45rem;
  background-repeat: repeat;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    // note: x coordinate here must be equal to the image width *on the page*
    transform: translate3d(-80rem, 0, 0);
  }
}
.newsgrid > h3 {
  padding: 0;
}
.newsgrid > div {
  padding: 0;
}
.newsgrid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: max-content auto;
}
.news-date {
text-align:right;
}
.news-link{
  margin-bottom: 5rem;
}
img.nav-logo {
  height: 10rem;
  width: auto;
}
.nav-logo {
  font-size: 2.4rem;
  font-weight: 200;
  color: $color-base-text-negative;
}
.hero-left, .hero-right {
  width: 80rem;
  position: absolute;
  top: 12rem;
  opacity: 0.5;
  z-index: 1500;
}
.hero-left {
  right: 75%;
}
.hero-right {
  left: 75%;
}