---
layout: base
---

<section class="across hero">
  <h1>{{page.title}}</h1>
  <img class="hero-left" src="/assets/img/uploads/quest-outline-0.png">
  <img class="hero-right" src="/assets/img/uploads/vive-outline-0.png">
  <div class="tagline">{{page.tagline | markdownify }}</div>
</section>

<section class="container">
  <h2>{{ page.intro_title }}</h2>
  {{ page.intro_paragraph }}
  <div class="b-group">
      {% for item in page.blurbs%}
        {% include home/blurb.html item=item%}
      {%endfor%}
  </div>
</section>

{%for box in page.boxes%}
  {%include home/box.html item=box%}
{%endfor%}

<section class="across center">
  <div class="sliding-gallery-wrapper">
    <div class="sliding-gallery-overlay">
      <h1>We're always doing new things.</h1>
      <a href="/contact">Get in touch</a> 
    </div>
    <div class="sliding-gallery">
      <div class="sliding-gallery-shadow"></div>
    </div>
  </div>
</section>

{%if site.posts.size > 0 %}
<section class="container">
  <h2><a href="/news">Latest news</a></h2>
  <div class="newsgrid">
      {% for post in site.posts limit:3 %}
          <h3 class="news-date">{{post.date | date_to_string}}</h3>
          <h3 class="news-title">{{post.title}}</h3>
          <div></div>
          <div class="news-excerpt">{{post.excerpt | markdownify}}</div>
          <div></div>
          <a class="news-link" href="{{ post.url }}">Read more</a>
      {% endfor %}
  </div>
  {%endif%}
</section>